* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #080808;
}

h1 {
    text-align: center;
    color: darkgray;
    font-size: clamp(1.5rem, 1.5vw, 4rem);
    padding-bottom: 5px;
}

h1.title {
    padding: 10px;
}

a {
    color: darkgray;
    text-decoration: none;
}

video {
    width: 100%;
    max-height: 100vh;
}

img,
video,
iframe {
    border-radius: 1vw;
    border: #1b1b1b 2px solid;
}

article {
    width: 85%;
    margin-bottom: 2%;
}

div.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    overflow: hidden;
    background-color: #1b1b1b;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 70px;
}

nav a {
    color: darkgray;
    text-align: center;
    text-decoration: none;
    font-size: clamp(0.8rem, 1vw, 2rem);
    border-radius: 0.6vw;
    margin: 0 0.2%;
    padding: 0.5% 0.75%;
}

nav a.logo {
    font-size: clamp(1.5rem, 1.7vw, 4rem);
    font-weight: bold;
    height: fit-content;
    margin: 0 1%;
    padding: 0.25% 1%;
}

nav a:hover {
    background-color: black;
}

/* ----------------PLAYLIST------------------*/

/* (B) WRAPPER */
#playlistDiv {
    font-family: arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 85%;
    margin-inline: auto;
    background-color: 0;
}

/* (F1) HIDE DEFAULT */
#playlistDiv input[type="range"] {
    box-sizing: border-box;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    background: 0;
}

#playlistDiv input[type="range"]::-webkit-slider-thumb {
    appearance: none;
}

/* (F2) CUSTOM SLIDER TRACK */
#playlistDiv input[type=range]::-webkit-slider-runnable-track {
    background: #626262;
    border-radius: 10px;
}

#playlistDiv input[type=range]::-moz-range-track {
    background: #626262;
    border-radius: 10px;
}

/* (I) PLAYLIST LIST*/
#playlistList {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #7e7e7e;
    background: #272727;
}

.vRow {
    cursor: pointer;
    padding: 5px 0;
}

.vRow.now {
    color: darkgray;
}